<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1>Todo list</h1>
    </div>
    <div class="box">
        <% ejes.forEach(function(items){ %>
            <div class="item">
                <form action="/delete" method="post" style="margin: 0;">
                    <input type="checkbox" name="checkbox1" value="<%= items._id %>" onchange="this.form.submit()">
                </form>
                <p><%= items.name %></p>
            </div>
        <% }) %>
        
        <form action="/" method="POST" class="item">
            <input type="text" name="ele1" placeholder="Enter the task" required>
            <button type="submit">+</button>
        </form>
    </div>
</body>
</html>